[submodule "no-OS"]
	path = libraries/no-OS
	url = https://github.com/analogdevicesinc/no-OS
[submodule "libraries/precision-converters-library"]
	path = libraries/precision-converters-library
	url = https://github.com/analogdevicesinc/precision-converters-library
